<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="src/vue.js"></script>
    <script src="src/testvue.js"></script>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
        <button v-on:click="reverseMessage">逆转消息</button>
        <input v-model="message">
        <p>{{ message }}</p>
        <todo-item v-for="item in todos" v-bind:todo="item"></todo-item>
    </div>
  </body>

  <script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    })

    const app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: 'Study JavaScript' },
          { text: 'Study Vue' },
          { text: 'hello world' }
        ],
        message:""
      },
      methods:{
        reverseMessage(){
          app4.todos[0].text = app4.todos[0].text.split('').reverse().join('')
        }
      }
    })
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
